/* Sidebar */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    /* line-height: 1.5; */
}

.main {
    height: 500vh;
    background-color: #000000;
}

.sidebar {
    width: 120px;
    background-color: #222;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

.sidebar-avatar {
    width: 100%;
}

.sidebar-list {
    list-style: none;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    margin-top: -4px;
    line-height: 0;
}

.sidebar-item {
    padding: 13px;
    line-height: 1.5;
}

.sidebar-item:first-child {
    background-color: #000000;
}

.sidebar-item:first-child:hover {
    background-color: #ccc;
}

.sidebar-item:hover {
    background-color: #000000;
    cursor: pointer;
}

.sidebar-item_text {
    color: #fff;
    text-decoration: none;
}

.sidebar-list i {
    font-size: 30px;
    display: block;
    margin: 12px 0;
}


/* Body */

.body {
    margin-left: 120px;
    padding: 12px 24px;
    background-color: #000;
}


/* Sidebar Tablet */

.sidebar-mobile-btn {
    font-size: 28px;
    color: #fff;
    display: none;
}

.sidebar-mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    animation: fadeIn 0.2s linear;
}

.sidebar-mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #222;
    transform: translateX(-100%);
    transition: all 0.2s linear;
    opacity: 0;
}

.sidebar-mobile-item {
    padding: 25px 50px;
}

.sidebar-mobile-item:hover {
    cursor: pointer;
    background-color: #000;
}

.sidebar-mobile-item_text {
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
}

.sidebar-mobile-input:checked~.sidebar-mobile-overlay {
    display: block;
}

.sidebar-mobile-input:checked~.sidebar-mobile {
    transform: translateX(0);
    opacity: 1;
    display: block;
}

.sidebar-mobile-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 16px;
    font-size: 1.4rem;
    color: #fff;
}

.sidebar-mobile-close:hover {
    cursor: pointer;
    background-color: #ccc;
    color: #000;
}

.sidebar-mobile-list {
    list-style: none;
}

.sidebar-mobile-avatar {
    width: 70%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*  */

.body-container {
    padding: 32px 0 64px 0;
    margin: 0 140px;
}

#home {
    color: #fff;
    text-align: center;
    line-height: 1.5;
}

.home-title {
    margin: 10px 0;
    font-weight: 400;
    font-size: 64px;
}

.home-title-sub {
    margin: 15px 0;
}

.home-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#about {
    color: #f1f1f1;
    padding: 64px 0 41px 0;
    font-size: 15px;
}

.name-title {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 400;
    display: inline-block;
    padding-bottom: 20px;
    border-bottom: 2px solid #757575;
}

.name-content {
    color: #757575;
    letter-spacing: 1px;
}

.skills-title {
    margin: 10px 0;
    padding: 16px 0;
    font-size: 24px;
    font-weight: 400;
}

.skills-title__sub {
    margin: 15px 0;
    letter-spacing: 4px;
    color: #757575;
}

.skill-container {
    width: 100%;
    background-color: #fff;
}

.skill-main {
    height: 28px;
    background-color: #616161;
}

.photography {
    width: 60%;
}

.web {
    width: 96%;
}

.photoshop {
    width: 70%;
}

.skills-other-list {
    margin: 40px 0;
    background-color: #fff;
}

.skills-other-list {
    display: flex;
    color: #000000;
    justify-content: space-around;
    align-items: center;
    padding: 16px 0;
}

.skills-other-item {
    margin: 16px 0;
    font-size: 24px;
    text-align: center;
}

.btn-download {
    padding: 12px 24px;
    font-size: 15px;
    background-color: #f1f1f1;
    margin-bottom: 26px;
}

.btn-download:hover {
    opacity: 0.8;
    cursor: pointer;
}

.btn-download i {
    margin-right: 10px;
}

.price-title {
    font-size: 24px;
    font-weight: 400;
    padding: 10px 0;
}

.price-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.price-table_title {
    background-color: #616161;
    padding: 32px;
    font-size: 24px;
    color: #fff;
}

.price-table-content {
    width: calc(50% - 8px);
    background-color: #fff;
    color: #000;
}

.price-table-content:hover {
    opacity: 1;
}

.price-table-list {
    list-style-type: none;
}

.price-table-item {
    border-bottom: 1px solid #ddd;
    padding: 16px 16px;
}

.price-table-item span {
    opacity: 0.6;
}

.price-sign-up__btn {
    padding: 12px 30px;
    background-color: #757575;
    border: none;
}

.price-sign-up__btn:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.price-quantity {
    font-weight: bold;
    font-size: 30px;
    color: #000;
}

.reputation-title {
    font-size: 24px;
    padding: 24px 0;
    margin: 20px 0;
}

.reputation-avatar {
    border-radius: 50%;
    width: 90px;
}

.reputation-user {
    display: flex;
    margin-bottom: 26px;
}

.reputation-user-comment {
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    color: #757575;
}

.reputation-name {
    margin: 15px;
}

.reputation-comment {
    margin: 15px;
}

#photo {
    padding: 64px 0;
}

.photo-title {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 400;
    display: inline-block;
    padding-bottom: 20px;
    color: #f1f1f1;
    border-bottom: 2px solid #757575;
}

.photo-table {
    display: flex;
    justify-content: space-between;
}

.photo-list {
    width: calc(50% - 8px);
    overflow: hidden;
}

.photo-item {
    width: 100%;
    margin-bottom: 5px;
    transition: all 0.5s ease-in-out;
}

.photo-item:hover {
    transform: scale(1.05);
}

.contact-title {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 400;
    display: inline-block;
    padding-top: 64px;
    padding-bottom: 20px;
    color: #f1f1f1;
    border-bottom: 2px solid #757575;
}

.contact-inf {
    color: #757575;
    list-style: none;
}

.contact-inf-item {
    margin: 15px 0;
    text-align: left;
}

.contact-inf-item i {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    width: 30px;
}

.contact-inf-item__text {
    margin-left: 20px;
}

.contact-title-sub {
    color: #757575;
    margin-top: 20px;
}

.contact-user-input {
    width: 100%;
    margin: 10px 0;
    padding: 16px 8px;
    border: none;
}

::placeholder {
    font-size: 17px;
}

.submit-btn {
    padding: 12px 24px;
    margin-top: 10px;
}

.submit-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.form-submit {
    margin-bottom: 128px;
}

.footer-social {
    text-align: center;
}

.footer-social i {
    font-size: 24px;
    line-height: 1.5;
    color: #757575;
    margin-right: 2px;
}

.footer-social i:hover {
    opacity: 0.5;
}

.footer-author {
    text-align: center;
    color: #757575;
}

.footer-author a {
    color: #757575;
}

.modal {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    display: none;
}

.modal-container {
    text-align: left;
    margin: 30px 520px;
    background-color: #aaa7a7;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 16px;
    color: #a19b9b;
    line-height: 0;
}

.modal-close:hover {
    cursor: pointer;
    background-color: #000;
}

.modal-close i {
    font-size: 25px;
}

.modal-header {
    background-color: #2c2a2a;
    color: #ddd;
    padding: 15px 10px;
    text-align: center;
    font-size: 30px;
}

.modal-body {
    margin: 10px;
    text-align: center;
    padding-bottom: 10px;
}

.modal-body-title {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
}

.modal-body-title__sub {
    color: #3b3a3a;
    text-align: left;
}

.modal-body-input {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    text-align: left;
    background-color: #ffffff;
    border: none;
}

.modal-body-select {
    padding: 8px 0;
    color: #3b3a3a;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
}

.modal-body-textarea {
    width: 100%;
}

.checkbox-text {
    font-size: 13px;
    margin-bottom: 20px;
    display: inline-block;
}

a {
    text-decoration: none;
}

.modal-submit-btn {
    padding: 8px 16px;
    display: block;
    margin: auto;
}

.modal-image {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

.modal-image-container {
    margin: auto;
    width: 800px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-item-js {
    width: 100%;
}

.open {
    display: block;
}


/* Mobile: max-width < 740px */

@media screen and (max-width: 739px) {
    .sidebar {
        display: none;
    }
    .body {
        margin-left: 0;
    }
    .body-container {
        margin: 0 10px;
    }
    .home-title {
        font-size: 24px;
    }
    .skills-other-list {
        flex-direction: column;
    }
    .btn-download {
        padding: 6px 12px;
        margin-bottom: 40px;
    }
    .price-table {
        flex-direction: column;
    }
    .price-table-content {
        width: 100%;
        margin-bottom: 20px;
    }
    .reputation-avatar {
        width: 80px;
        height: 80px;
    }
    .reputation-name,
    .reputation-comment {
        margin: 0;
        font-size: 16px;
    }
    .modal-container {
        margin: 30px 34px;
    }
    .modal-image {
        display: none;
    }
    .sidebar-mobile-btn {
        display: block;
        position: fixed;
        margin-left: -20px;
    }
}


/* Tablet: min-width: 740px and max-width: 1024px */

@media screen and (min-width: 740px) and (max-width: 1023px) {
    .sidebar {
        display: none;
    }
    .body {
        margin-left: 0;
    }
    .body-container {
        margin: 0px 90px;
    }
    .modal-container {
        margin: 55px 114px;
    }
    .photo-item-js {
        margin-bottom: 300px;
        width: 100%;
    }
    .modal-image {
        display: none;
    }
    .sidebar-mobile-btn {
        display: block;
        position: fixed;
    }
}